.active {
	position: relative !important;
	border-left: 4px solid !important;
	color: red;
	display: flex;
	justify-content: space-between;
	margin-left: -20px;
	margin-top: 15px;
}

.active:hover {
	position: relative !important;
	border-left: 4px solid !important;
	color: red;
	display: flex;
	justify-content: space-between;
	margin-left: -20px;
	margin-top: 15px;
}

.MenuLinkDashboard {
	display: flex;
	justify-content: space-between;
	margin-left: -16px;
	margin-top: 15px;
}

.MenuLinkDashboard:hover {
	position: relative !important;
	border-left: 4px solid !important;
	color: red;
	display: flex;
	justify-content: space-between;
	margin-left: -20px;
	margin-top: 15px;
}

.paper {
	border-radius: 10px !important	;
	overflow: hidden;
	margin-bottom: 20px !important;
	box-shadow: 0px 4px 4px rgba(43 52 69 / 10%) !important;
	padding: 25px 20px !important;
}
