.banner-mid {
	background-image: url("../../assets/images/banners/banner-19.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.banner-left {
	background-image: url("../../assets/images/banners/banner-18.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.banner-right {
	background-image: url("../../assets/images/banners/banner-20.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.underline {
	cursor: pointer;
	color: #000;
	text-decoration: none;
	display: inline-block;
	position: relative;
}

.underline::after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #000;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.underline:hover:after {
	width: 100%;
	left: 0%;
}

.svg-home-camera {
	width: 30px;
	margin-bottom: -25px;
}

.menu-li-products {
	font-size: 13px !important;
	padding: 20px 0px 0px !important;
	cursor: pointer;
}

.menu-li-products:hover {
	color: red;
}
