.item-list {
	display: flex;
	align-items: center;
	list-style: none !important;
	color: white;
	font-size: 10px !important;
	margin-bottom: 20px;
}

.css-10hburv-MuiTypography-root {
	font-size: 14px !important;
	color: white;
}
